<h1>Your File Note is ready!</h1>

<textarea rows="40" cols="80">
Contact Type: <%= @file_note.contact_type %>

<%= @file_note.narrative %>

<% for topic in @file_note.topics -%>
<%= topic.body %>
<% end -%>
</textarea>
